/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');



.form-search {
display: flex;
justify-content: center;
}

.input-form {
  border: 1px solid #808080;
    border-radius: 8px;
    width: 272px;
    max-height: 40px;
    padding: 8px 16px;
    margin-right: 8px;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
      
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: black;
}
.input-form:hover{
border: 1px solid #000;
}
.input-form:focus{
  border-color:#4e75ff ;
}
.input-form::placeholder{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}
.btn-search {
  border-radius: 8px;
   ;
    width: 75px;
   
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4e75ff;
    border: none;

}
.btn-search:hover{
  background-color:#6c8cff;;
}
.card-container {}

.loader {}